
.Body
{
	background-image: url('../Images/Background.png');
	background-color: #594848;
	background-repeat: no-repeat;
	background-size: 100%;
}
.HatSpacer
{
	height: 150px;
}

.Header
{
	color: #FF8040;
}
.SmallText
{
	color: #FF8040;

}

.FileLink
{
	color: #FFAF00;
}
.FileLink:visited
{
	color: #FF8040;

}
.Table
{
	background: #281818;
	empty-cells: show;
}
.TableCell
{
	border: 5px solid #000000;
}
.CellSpacer
{
	width: 200px;
	opacity: 0.0;
	filter: alpha(opacity=0);
	padding: 5px 5px 0px;
	background-color: #281818;
	border: 5px solid #281818;

}
.FileContainer
{
/*	height: 150px; */
	width: 200px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	padding: 5px 5px 0px;
	background-color: #281818;
	border: 5px solid #281818;
/*	color: #FFAF00;*/
}
.FileContainer:hover
{
	opacity: 1.0;
	filter: alpha(opacity=100);
}
.FileContainer:active
{
	opacity: 1.0;
	filter: alpha(opacity=100);
	border: 5px solid #A02040;
	background-color: #781830;
}

.PictureContainer
{
	height: 150px;
	width: 200px;
	margin: 0px;
	background-image: url('../Images/GenericPictureBackground.png');
/*	padding: 10% */
}
/*.Picture
{
	margin: auto, auto;
}*/
.TextContainer
{
/*	color: #AFFF00;*/
	height: 20px;
	width: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
/*	margin 0px;*/
}
